@use "../../sass/variables" as var;

.home__container {
  .head {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .cards__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 40px;

    @media screen and (max-width: 1780px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    .element {
      background-color: var(--background-color);
    }

    .title__country {
      color: var(--color-primary);
      font-family: var.$font-nunito;
      font-size: 1.3em;
    }

    ul {
      list-style: none;
      line-height: 20px;
      margin-top: 14px;
      font-family: var.$font-nunito;

      & > li {
        color: var.$light-mode-input;
        span {
          color: var(--color-primary);
          font-weight: var.$weight-600;
        }
      }
    }
  }

  .pagination__container {
    display: flex;
    justify-content: flex-end;

    & .Mui-selected {
      background-color: #0077ff;
    }
    & .MuiPaginationItem-root {
      color: var(--color-primary);

      &:hover {
        background-color: #0077ff;
        color: #ffffff;
      }
    }
  }
}
